<div id="cube-control" class="control-panel">
    <div class="control-form">
        <label>Axis:</label>
        <select #matrixAxisSelect>
            <option selected value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
        </select>
    </div>
    <div class="control-form">
        <label>Angle:</label>
        <select #matrixAngelSelect>
            <option selected value="90">90</option>
            <option value="180">180</option>
            <option value="270">270</option>
        </select>
    </div>
    <div class="control-form">
        <label>Clockwise:</label>
        <select #matrixClockwiseSelect>
            <option selected value="true">clockwise</option>
            <option value="false">anti-clockwise</option>
        </select>
    </div>
    <div class="control-form">
        <button (click)="matrixRotateClick()">Rotate</button>
        <button (click)="matrixResetClick()">Reset</button>
    </div>
</div>

<div id="cube-side-control" class="control-panel">
    <div class="control-form">
        <label>Axis:</label>
        <select #sideAxisSelect>
            <option selected value="x">X</option>
            <option value="y">Y</option>
            <option value="z">Z</option>
        </select>
    </div>
    <div class="control-form">
        <label>Side:</label>
        <select #sideSelect>
            <option selected value="-1">Back</option>
            <option value="0">Middle</option>
            <option value="1">Front</option>
        </select>
    </div>
    <div class="control-form">
        <label>Angle:</label>
        <select #sideAngelSelect>
            <option selected value="90">90</option>
            <option value="180">180</option>
            <option value="270">270</option>
        </select>
    </div>
    <div class="control-form">
        <label>Clockwise:</label>
        <select #sideClockwiseSelect>
            <option selected value="true">clockwise</option>
            <option value="false">anti-clockwise</option>
        </select>
    </div>
    <div class="control-form">
        <button (click)="sideRotateClick()">Rotate</button>
    </div>
</div>

<div class="cube-container" #matrix>
    <app-cube-unit *ngFor="let cube of cubes; let i=index" [index]="i"></app-cube-unit>
</div>
 
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>