@import "../shared.component.scss";

:host {
    width: 900px;
    height: 900px;
    perspective-origin: 95% 5%;
    perspective: 1000px;
    transform-style: preserve-3d;
    @extend %flex-box;
}

.cube-container {
    width: 300px;
    height: 300px;
    @extend %flex-box;
}